mixin menu-item(menuItem={name:"default"})
  .nav__menu-level1-box
    a(href=menuItem.link).nav__menu-level1-item= menuItem.name 
      if menuItem.menu2 === true 
        i(class="fas fa-caret-down")
    if menuItem.menu2 === true 
      .nav__menu-level2-box
        +menu-level2(menuItem.menu2Items)

mixin menu-level2(menuItems)  
  each menuItem in menuItems 
    ul.nav__menu-level3-box
      li.nav__menu-level2-item=menuItem.title
      .nav__menu-level-3
        +menu-level3(menuItem.items)

mixin menu-level3(items)
  each item in items 
    li.nav__menu-level3-item= item

mixin preview-products(products)
  .preview-products 
    each product in products
      .preview-product 
        img.preview-product__img(src=product.img, alt="product-img")
        .preview-product__content 
          .preview-product__name= product.name 
          .preview-product__price= product.price
        i(class="fas fa-times")
        
mixin list(title="default",items=[])
  ul.list 
    li.list__title= title
    each item in items
      li.list__item= item

mixin icon-text(icon, text, colorIcon, colorText)
  .icon-text
    i.icon(class=(`color-${colorIcon} ${icon}` ))
    span.text(class=(`color-${colorText}`))= text

mixin page-url(pages=[])
  ul.page-url
    each page,index in pages
      if index == 0
        li.page-url__item= page
      if index == pages.length - 1
        li.page-url__item.page-url__item-active= `> ${page}`
      if index!=0 && index != pages.length - 1
        li.page-url__item= `> ${page}`

mixin name-input(title, name)
  .name-input
    label.name-input__name(for=name)= title
    input.name-input__input(type="text" id=name)
    
mixin contact-us()
  h3.mt-3.mb-4 ĐÓNG GÓP Ý KIẾN
  form.w-100.w-lg-50
    +name-input("Tên *", "name")
    +name-input("Email *", "email")
    +name-input("Tin nhắn *", "message")

mixin img-text($img, $text1, $text2)
  .img-text
    img.img-text__img(src=$img alt="avatar")
    .img-text__text-box 
      p.img-text__price= $text1
        span.img-text__text /tháng
      p= $text2

mixin tag(tags)
  .tags
    each tag in tags
      .tag= tag
      
mixin product-tag(product)
  a(href="/detailPage.html")
    .product-tag 
      img.w-100(src= product.img, alt="Ảnh sản phẩm")
      .product-tag__category= product.category
      .product-tag__name= product.name
      hr(size="30")
      .product-tag__price
        .product-tag__price-new= product.newPrice
        .product-tag__price-old= product.oldPrice
      .product-tag__dropdown-option
        button Mua hàng 
        button 
          i(class="fas fa-heart")
        button 
          i(class="fas fa-sync-alt")

mixin product-list(product)
  .product-list.mb-4
    .row
      .col-12.col-sm-4
        img.w-100(src= product.img, alt="Ảnh sản phẩm")
      .col-12.col-sm-8
        .product-list__name= product.name
        .product-list__vote
          - for (var x = 0; x < product.vote; x++)
            i(class="fas fa-heart")
          
          span (#{product.like} lượt thích)
        p.mb-3= product.info
        .product-list__price
          .product-list__price-new= product.newPrice
          .product-list__price-old= product.oldPrice
        .product-list__dropdown-option
          button Mua hàng 
          button 
            i(class="fas fa-heart")
          button 
            i(class="fas fa-sync-alt")

mixin column-menu(menu)
  .column-menu
    each item in menu
      ul.menu1
        li
          .meu1__item
            a(href="#")= item.name
            if item.isMenu2 == true
              i.float-right(class="fas fa-caret-down")
          if item.isMenu2 == true 
            ul.menu2 
              each item2 in item.menu2
                li
                  a(href="#").menu2__item= item2

mixin list-pagination()
  .list-pagination 
    .list-option 
      a(href="/listPage.html") 
        i.mr-2(class="fas fa-list")
      a(href="/gridPage.html") 
        i(class="fas fa-th-large")
    ul.page-option
      li
        a(href="#") 
          i(class="fas fa-caret-left")
      li 
        a.active(href="#") 1 
      li 
        a(href="#") 2
      li 
        a(href="#") 3
      li
        a(href="#") 
          i(class="fas fa-caret-right")

mixin paragraph(title, content)
  .paragraph
    strong= title
    .hr
    p=content

mixin preview-column-products(products)
  .preview-column-products
    each product in products
      .preview-column-products__product 
        .preview-column-products__product-img
          img.w-100(src=product.img, alt="product-img")
        .preview-column-products__product-info
          .name= product.name
          - for (var x = 0; x < product.vote; x++)
            i(class="fas fa-heart")
          .price= product.newPrice

mixin blog-tag(blog)
  a(href="/blogPage.html")
    .blog-tag
      img.w-100.mb-2(src=blog.img, alt="blog-img")
      .blog-tag__title
        strong.mb-2= blog.title
      p= blog.content
      .note= blog.note
      .d-block
        a(href="#") Đọc thêm
        a.float-right(href="$") #{blog.comments} bình luận