mixin menu-item(menuItem={name:"default"})
  .nav__menu-level1-box
    .nav__menu-level1-item= menuItem.name 
      if menuItem.menu2 === true 
        i(class="fas fa-caret-down")
    if menuItem.menu2 === true 
      .nav__menu-level2-box
        +menu-level2(menuItem.menu2Items)

mixin menu-level2(menuItems)  
  each menuItem in menuItems 
    ul.nav__menu-level3-box
      li.nav__menu-level2-item=menuItem.title
      .nav__menu-level-3
        +menu-level3(menuItem.items)

mixin menu-level3(items)
  each item in items 
    li.nav__menu-level3-item= item

mixin preview-products(products)
  .preview-products 
    each product in products
      .preview-product 
        img.preview-product__img(src=product.img, alt="product-img")
        .preview-product__content 
          .preview-product__name= product.name 
          .preview-product__price= product.price
        i(class="fas fa-times")
mixin list(title="default",items=[])
  ul.list 
    li.list__title= title
    each item in items
      li.list__item= item

mixin icon-text(icon, text, colorIcon, colorText)
  .icon-text
    i.icon(class=(`color-${colorIcon} ${icon}` ))
    span.text(class=(`color-${colorText}`))= text

mixin page-url(pages=[])
  ul.page-url
    each page,index in pages
      if index == 0
        li.page-url__item= page
      if index == pages.length - 1
        li.page-url__item.page-url__item-active= `> ${page}`

mixin name-input(title, name)
  .name-input
    label.name-input__name(for=name)= title
    input.name-input__input(type="text" id=name)
    
mixin contact-us()
  h3.mt-3.mb-4 ĐÓNG GÓP Ý KIẾN
  form.w-100.w-lg-50
    +name-input("Tên *", "name")
    +name-input("Email *", "email")
    +name-input("Tin nhắn *", "message")

mixin img-text($img, $text1, $text2)
  .img-text
    img.img-text__img(src=$img alt="img")
    .img-text__text-box 
      p.img-text__price= $text1
        span.img-text__text /tháng
      p= $text2
mixin tag(tags)
  .tags
    each tag in tags
      .tag= tag