- 
  var detailProduct = {
    imgs: ["./assets/img/vong-tay-1.jpeg","./assets/img/vong-tay-2.jpeg","./assets/img/vong-tay-3.jpeg","./assets/img/vong-tay-4.jpeg"],
    name: "Vòng tay nam",
    code: "TYFANRL F1242",
    newPrice: "250.000d",
    oldPrice: "260.000d",
    info: " Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem repudiandae quod officia recusandae maiores error, repellendus enim velit aliquam a sapiente? Esse voluptatum dolores aliquid vitae nobis qui corporis eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem repudiandae quod officia recusandae maiores error, repellendus enim velit aliquam a sapiente? Esse voluptatum dolores aliquid vitae nobis qui corporis eos!",
    color: ["vàng","đỏ","xanh"],
    size: ["11","12","13"]
  }
-
  var paragraph = [
    {
      title= "Hàng Việt Nam chất lượng cao",
      content= "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias amet explicabo maiores, deleniti perspiciatis dignissimos soluta itaque ducimus. Magnam corporis rerum doloremque quia exercitationem cum explicabo repudiandae assumenda perferendis laboriosam.  "
    },
    {
      title= "Hàng Việt Nam chất lượng cao",
      content= "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias amet explicabo maiores, deleniti perspiciatis dignissimos soluta itaque ducimus. Magnam corporis rerum doloremque quia exercitationem cum explicabo repudiandae assumenda perferendis laboriosam.  "
    },
    {
      title= "Hàng Việt Nam chất lượng cao",
      content= "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias amet explicabo maiores, deleniti perspiciatis dignissimos soluta itaque ducimus. Magnam corporis rerum doloremque quia exercitationem cum explicabo repudiandae assumenda perferendis laboriosam.  "
    }
  ]